<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper">
  <select id="selectMemberById" parameterType="string" resultMap="memberResultSet">
    <![CDATA[
      SELECT * FROM MEMBER_20230807 WHERE member_id = #{memberId}
    ]]>
  </select>

  <resultMap type="member" id="memberResultSet">
    <result property="memberId" column="member_id" />
    <result property="memberPwd" column="member_pwd" />
    <result property="memberName" column="member_nm" />
    <result property="memberEnrollDate" column="member_enroll_dt" />
  </resultMap>
</mapper>
